/* line 17, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: 'HelveticaNeueLT-Light'; src: url("fonts/helveticaneuelt-light.eot"); src: url("fonts/helveticaneuelt-light.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-light.woff") format("woff"), url("fonts/helveticaneuelt-light.ttf") format("truetype"), url("fonts/helveticaneuelt-light.svg#helveticaneuelt-light") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLT-LightCond'; src: url("fonts/helveticaneuelt-lightcond.eot"); src: url("fonts/helveticaneuelt-lightcond.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-lightcond.woff") format("woff"), url("fonts/helveticaneuelt-lightcond.ttf") format("truetype"), url("fonts/helveticaneuelt-lightcond.svg#helveticaneuelt-lightcond") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLT-Roman'; src: url("fonts/helveticaneuelt-roman.eot"); src: url("fonts/helveticaneuelt-roman.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-roman.woff") format("woff"), url("fonts/helveticaneuelt-roman.ttf") format("truetype"), url("fonts/helveticaneuelt-roman.svg#helveticaneuelt-roman") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLT-Thin'; src: url("fonts/helveticaneuelt-thin.eot"); src: url("fonts/helveticaneuelt-thin.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-thin.woff") format("woff"), url("fonts/helveticaneuelt-thin.ttf") format("truetype"), url("fonts/helveticaneuelt-thin.svg#helveticaneuelt-thin") format("svg"); font-weight: normal; font-style: normal; }

/* line 11, sass/partials/_boilerplate.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 21, sass/partials/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 23, sass/partials/_boilerplate.scss */
nav ul { list-style: none; }

/* line 24, sass/partials/_boilerplate.scss */
blockquote, q { quotes: none; }

/* line 25, sass/partials/_boilerplate.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 26, sass/partials/_boilerplate.scss */
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 27, sass/partials/_boilerplate.scss */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* line 28, sass/partials/_boilerplate.scss */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

/* line 29, sass/partials/_boilerplate.scss */
del { text-decoration: line-through; }

/* line 30, sass/partials/_boilerplate.scss */
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

/* line 31, sass/partials/_boilerplate.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 32, sass/partials/_boilerplate.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* line 33, sass/partials/_boilerplate.scss */
input, select { vertical-align: middle; }

/* line 35, sass/partials/_boilerplate.scss */
select, input, textarea, button { font: 99% sans-serif; }

/* line 38, sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* line 39, sass/partials/_boilerplate.scss */
html { overflow-y: scroll; }

/* line 40, sass/partials/_boilerplate.scss */
ul, ol { margin-left: 1.8em; }

/* line 41, sass/partials/_boilerplate.scss */
ol { list-style-type: decimal; }

/* line 43, sass/partials/_boilerplate.scss */
nav ul, nav li { margin: 0; }

/* line 44, sass/partials/_boilerplate.scss */
small { font-size: 85%; }

/* line 45, sass/partials/_boilerplate.scss */
strong, th { font-weight: bold; }

/* line 46, sass/partials/_boilerplate.scss */
td, td img { vertical-align: top; }

/* line 47, sass/partials/_boilerplate.scss */
sub { vertical-align: sub; font-size: smaller; }

/* line 48, sass/partials/_boilerplate.scss */
sup { vertical-align: super; font-size: smaller; }

/* line 49, sass/partials/_boilerplate.scss */
pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

/* line 50, sass/partials/_boilerplate.scss */
textarea { overflow: auto; }

/* line 51, sass/partials/_boilerplate.scss */
.ie6 legend, .ie7 legend { margin-left: -7px; }

/* line 52, sass/partials/_boilerplate.scss */
input[type="radio"] { vertical-align: text-bottom; }

/* line 53, sass/partials/_boilerplate.scss */
input[type="checkbox"] { vertical-align: bottom; }

/* line 54, sass/partials/_boilerplate.scss */
.ie7 input[type="checkbox"] { vertical-align: baseline; }

/* line 55, sass/partials/_boilerplate.scss */
.ie6 input { vertical-align: text-bottom; }

/* line 56, sass/partials/_boilerplate.scss */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* line 57, sass/partials/_boilerplate.scss */
button, input, select, textarea { margin: 0; }

/* line 59, sass/partials/_boilerplate.scss */
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

/* line 61, sass/partials/_boilerplate.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* line 65, sass/partials/_boilerplate.scss */
button { width: auto; overflow: visible; }

/* line 66, sass/partials/_boilerplate.scss */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* line 68, sass/partials/_boilerplate.scss */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* line 69, sass/partials/_boilerplate.scss */
.hidden { display: none; visibility: hidden; }

/* line 70, sass/partials/_boilerplate.scss */
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }

/* line 71, sass/partials/_boilerplate.scss */
.invisible { visibility: hidden; }

/* line 72, sass/partials/_boilerplate.scss */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }

/* line 73, sass/partials/_boilerplate.scss */
.clearfix:after { clear: both; }

/* line 74, sass/partials/_boilerplate.scss */
.clearfix { zoom: 1; }

/* line 1, sass/partials/_base.scss */
html, body { min-height: 100%; }

/* line 2, sass/partials/_base.scss */
body { color: black; font-family: "HelveticaNeueLT-Light", "Helvetica", Verdana, Tahoma, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; background: #1b1c20; }

/* line 3, sass/partials/_base.scss */
body, select, input, textarea { color: black; }

/* line 4, sass/partials/_base.scss */
a:hover, a:active { outline: none; }

/* line 7, sass/partials/_base.scss */
a, a:active, a:visited { color: black; text-decoration: none; }

/* line 8, sass/partials/_base.scss */
a:hover { color: #e60004; }

/* line 9, sass/partials/_base.scss */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* line 10, sass/partials/_base.scss */
a img { border: none; }

/* line 11, sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; }

/* line 12, sass/partials/_base.scss */
h1 { font-size: 24px; }

/* line 14, sass/partials/_base.scss */
pre, code, kbd, samp { font-family: Monaco, "Andale Mono", "Lucida Console", monospace; }

/* line 16, sass/partials/_base.scss */
::-moz-selection { background: #666666; color: black; text-shadow: none; }

/* line 21, sass/partials/_base.scss */
::selection { background: #666666; color: black; text-shadow: none; }

/* line 27, sass/partials/_base.scss */
.aligncenter { display: block; margin: 0 auto; }

/* line 28, sass/partials/_base.scss */
.alignleft { float: left; margin: 0 40px 40px 0; }

/* line 29, sass/partials/_base.scss */
.alignright { float: right; margin: 0 0 40px 40px; }

/* line 30, sass/partials/_base.scss */
figure.alignnone { margin-left: 0; margin-right: 0; }

/* line 32, sass/partials/_base.scss */
#content { position: relative; padding: 50px; overflow: hidden; *zoom: 1; }
/* line 14, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_extensions/susy-1.0.1/sass/susy/_grid.scss */
#content * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 38, sass/partials/_base.scss */
#content p { margin-top: 20px; }

/* line 1, sass/partials/_layout.scss */
body.grid #container { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.grid #container:after { content: ""; display: table; clear: both; }
/* line 5, sass/partials/_layout.scss */
body.grid #container #contentwrap { width: 100%; float: left; margin-right: 1.05263%; display: inline; }

/* line 13, sass/partials/_layout.scss */
body.grid #container > header, body.grid #container > footer, body.grid.one-column #posts { width: 100%; float: left; margin-right: 1.05263%; display: inline; }

/* line 4, sass/partials/_header.scss */
header { min-height: 110px; margin-bottom: 5px; overflow: hidden; *zoom: 1; }
/* line 9, sass/partials/_header.scss */
header.white { background: #ffffff; }
/* line 13, sass/partials/_header.scss */
header .logo { width: 11.57895%; float: left; margin-right: 1.05263%; display: inline; margin-top: 12px; }
/* line 17, sass/partials/_header.scss */
header .logo h1 { float: none; clear: both; margin: 0 auto; text-indent: -119988px; overflow: hidden; text-align: left; background-position: 0 -68px; height: 68px; width: 74px; background-image: url('images/site-se747f01b15.png'); background-repeat: no-repeat; }
/* line 23, sass/partials/_header.scss */
header .logo h1.vermelho { text-indent: -119988px; overflow: hidden; text-align: left; background-position: 0 0; height: 68px; width: 75px; background-image: url('images/site-se747f01b15.png'); background-repeat: no-repeat; }
/* line 29, sass/partials/_header.scss */
header nav { width: 87.36842%; float: right; margin-right: 0; #margin-left: -12px; display: inline; padding-top: 80px; min-height: 30px; }
/* line 34, sass/partials/_header.scss */
header nav ul { margin: 0; padding: 0 20px 0 0; list-style: none; display: block; overflow: hidden; float: right; }
/* line 42, sass/partials/_header.scss */
header nav ul li { display: inline-block; float: left; padding: 0 12px; margin: 0 0; font-size: 13px; }
/* line 49, sass/partials/_header.scss */
header nav ul li a { text-transform: uppercase; }
/* line 51, sass/partials/_header.scss */
header nav ul li.current-menu-item a { color: #e60004; }
/* line 56, sass/partials/_header.scss */
header nav.branco ul li a { color: white; }
/* line 57, sass/partials/_header.scss */
header nav.branco ul li.current-menu-item a { color: #e60004; }

/* line 4, sass/partials/_footer.scss */
#container footer { overflow: hidden; *zoom: 1; margin-top: 5px; min-height: 100px; }
/* line 9, sass/partials/_footer.scss */
#container footer.white { background: #ffffff; }
/* line 13, sass/partials/_footer.scss */
#container footer div { padding-top: 12px; }
/* line 16, sass/partials/_footer.scss */
#container footer div.direitos { padding-left: 1.05263%; padding-right: 1.05263%; width: 68.42105%; float: left; margin-right: 1.05263%; display: inline; }
/* line 20, sass/partials/_footer.scss */
#container footer div.companhia { padding-left: 1.05263%; padding-right: 1.05263%; width: 24.21053%; float: right; margin-right: 0; #margin-left: -12px; display: inline; text-align: right; }
/* line 25, sass/partials/_footer.scss */
#container footer div p, #container footer div a { font-size: 11px; }
/* line 31, sass/partials/_footer.scss */
#container footer.txt-branco p, #container footer.txt-branco a { color: white; }

/* line 4, sass/partials/_sidebar.scss */
#container aside { background-color: #ccc; margin-top: 1em; min-height: 500px; }
/* line 8, sass/partials/_sidebar.scss */
#container aside h2 { margin-top: 20px; }
/* line 9, sass/partials/_sidebar.scss */
#container aside ul { margin: 0; padding: 0; list-style: none; }
/* line 13, sass/partials/_sidebar.scss */
#container aside ul li { padding: 2px; }
/* line 14, sass/partials/_sidebar.scss */
#container aside ul li a { display: block; border-bottom: solid 1px #ececec; }

/* line 5, sass/partials/_posts.scss */
#posts { margin-top: 1em; min-height: 500px; }
/* line 8, sass/partials/_posts.scss */
#posts nav { padding: 0px; font-size: .9em; overflow: hidden; }
/* line 9, sass/partials/_posts.scss */
#posts nav .previous { float: left; }
/* line 10, sass/partials/_posts.scss */
#posts nav .next { float: right; }

/* line 14, sass/partials/_posts.scss */
article.post h2 a { color: #333; text-decoration: none; }
/* line 15, sass/partials/_posts.scss */
article.post h2 a:hover { color: #ccc; }
/* line 16, sass/partials/_posts.scss */
article.post p { margin: 1.2em 1em 1.2em 0; }
/* line 17, sass/partials/_posts.scss */
article.post a { text-decoration: underline; }
/* line 18, sass/partials/_posts.scss */
article.post img { padding: 5px 8px; }
/* line 19, sass/partials/_posts.scss */
article.post ul { list-style: square; padding: 2px 0; }
/* line 20, sass/partials/_posts.scss */
article.post li { padding: 2px 0; }
/* line 21, sass/partials/_posts.scss */
article.post small { font-size: .9em; }

/* styling for 'continued' page links */
/* line 25, sass/partials/_posts.scss */
p.continued { padding: 5px; background: #f0f0f0; }

/* line 26, sass/partials/_posts.scss */
p.continued a { padding: 5px; font-weight: bold; }

/* line 4, sass/partials/_comments.scss */
#comments { margin: 0px 10px 10px 0; padding: 0px 10px 10px 0; }
/* line 8, sass/partials/_comments.scss */
#comments h3 { margin: 0 0 10px; }
/* line 10, sass/partials/_comments.scss */
#comments ol.commentlist { margin: 0; padding: 0; overflow: hidden; }
/* line 14, sass/partials/_comments.scss */
#comments ol.commentlist li { background: #ececec; margin: 0px 0 10px; padding: 10px; }

/* line 23, sass/partials/_comments.scss */
#commentbox { width: 100%; min-width: 400px; margin: 5px 5px 0 0; }

/* line 28, sass/partials/_comments.scss */
#commentform { margin: 0px 10px 10px 0; padding: 0px 10px 10px 0; }
/* line 36, sass/partials/_comments.scss */
#commentform #author, #commentform #email, #commentform #url, #commentform textarea, #commentform #submit { border: solid 1px #ccc; margin: 5px 5px 0 0; }

/* line 2, sass/partials/_front.scss */
.page-id-12 #content { background: white; }

/* line 7, sass/partials/_front.scss */
.home { background: #000000; }
/* line 10, sass/partials/_front.scss */
.home footer { background: white; }
/* line 14, sass/partials/_front.scss */
.home #content { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; overflow: hidden; *zoom: 1; padding: 0; background: white; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.home #content:after { content: ""; display: table; clear: both; }
/* line 22, sass/partials/_front.scss */
.home .container_destaques { overflow: hidden; *zoom: 1; width: 100%; float: right; margin-right: 0; #margin-left: -12px; display: inline; height: 450px; background: white; }
/* line 28, sass/partials/_front.scss */
.home .container_destaques .destaque_principal { position: relative; height: 350px; }
/* line 32, sass/partials/_front.scss */
.home .container_destaques .destaque_principal img { position: absolute; top: 0; left: 0; z-index: 1; }
/* line 39, sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto { position: absolute; width: 400px; right: 0; z-index: 2; padding-top: 100px; text-align: center; }
/* line 47, sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto h2 { font-size: 30px; margin-bottom: 30px; }
/* line 52, sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto p { margin-bottom: 30px; }
/* line 56, sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto .maisdetalhes { width: 110px; text-align: center; border-style: solid; border-color: #000000; border-width: 1px 0; }
/* line 69, sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs { overflow: hidden; width: 100%; float: left; margin-right: 1.05263%; display: inline; }
/* line 73, sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul { width: auto; margin: 0 0 0 10px; padding: 0; list-style: none; }
/* line 79, sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li { width: 32.39437%; float: right; margin-right: 0; #margin-left: -12px; display: inline; height: 83px; border-right: 1px solid #c2c2c2; float: left; }
/* line 85, sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li.no-border { border: 0; }
/* line 87, sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li a { display: block; width: 100%; height: 100%; }
/* line 92, sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li a img { margin: 10px 20px; vertical-align: middle; }
/* line 101, sass/partials/_front.scss */
.home .container_extras { background: white; width: 100%; float: right; margin-right: 0; #margin-left: -12px; display: inline; }

/* line 107, sass/partials/_front.scss */
.produtos { padding: 0 !important; *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.produtos:after { content: ""; display: table; clear: both; }
/* line 111, sass/partials/_front.scss */
.produtos .produto { width: 100%; float: right; margin-right: 0; #margin-left: -12px; display: inline; position: relative; border: 1px solid #d3d3d3; background: white; height: 382px; }
/* line 119, sass/partials/_front.scss */
.produtos .produto .imagem { position: absolute; top: 0; left: 0; }
/* line 125, sass/partials/_front.scss */
.produtos .produto .descricao { position: absolute; top: 130px; right: 0; width: 300px; padding: 40px 0 0 20px; border-left: 2px solid black; }
/* line 133, sass/partials/_front.scss */
.produtos .produto .descricao h3 { text-transform: uppercase; font-size: 15px; font-weight: normal; line-height: 12px; margin-bottom: 30px; }
/* line 141, sass/partials/_front.scss */
.produtos .produto .descricao p { font-size: 12px; }
/* line 150, sass/partials/_front.scss */
.produtos .relacionados { width: 100%; float: right; margin-right: 0; #margin-left: -12px; display: inline; margin-top: 10px; }
/* line 154, sass/partials/_front.scss */
.produtos .relacionados p { padding: 20px 30px; }
/* line 156, sass/partials/_front.scss */
.produtos .relacionados ul { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; margin: 0; padding: 0; border: 1px solid #d3d3d3; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.produtos .relacionados ul:after { content: ""; display: table; clear: both; }
/* line 162, sass/partials/_front.scss */
.produtos .relacionados ul li { width: 15.49296%; float: right; margin-right: 0; #margin-left: -12px; display: inline; width: 150px; height: 115px; overflow: hidden; border-right: 1px dotted #d3d3d3; }
/* line 172, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_extensions/susy-1.0.1/sass/susy/_grid.scss */
.produtos .relacionados ul li:nth-child(6n) { float: right; margin-right: 0; #margin-left: -12px; display: inline; }

/* line 174, sass/partials/_front.scss */
.lista-items { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; padding: 0 !important; background-color: transparent !important; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lista-items:after { content: ""; display: table; clear: both; }
/* line 179, sass/partials/_front.scss */
.lista-items .grid-item { min-height: 165px; overflow: hidden; background-repeat: no-repeat; background-color: white; background-position: center center; }
/* line 188, sass/partials/_front.scss */
.lista-items .grid-item:hover { background-color: #1b1c20; }
/* line 192, sass/partials/_front.scss */
.lista-items .grid-item a { display: block; width: 100%; height: 100%; padding: 10px; text-align: left; text-transform: uppercase; font-size: 18px; position: relative; }
/* line 202, sass/partials/_front.scss */
.lista-items .grid-item a span { position: absolute; display: none; }
/* line 206, sass/partials/_front.scss */
.lista-items .grid-item a span.bottom { font-size: 12px; bottom: 10px; right: 10px; text-align: right; }
/* line 214, sass/partials/_front.scss */
.lista-items .grid-item a:hover { background: #ec3e35; color: black; }
/* line 218, sass/partials/_front.scss */
.lista-items .grid-item a:hover span { display: block; }

/* line 230, sass/partials/_front.scss */
.categorias { width: 100%; float: right; margin-right: 0; #margin-left: -12px; display: inline; padding: 0 !important; background-color: transparent !important; }
/* line 235, sass/partials/_front.scss */
.categorias ul { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; margin: 0; padding: 0; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.categorias ul:after { content: ""; display: table; clear: both; }
/* line 241, sass/partials/_front.scss */
.categorias ul li { width: 49.47368%; float: left; margin-right: 1.05263%; display: inline; height: 158px; margin-bottom: 15px; border: 1px solid #d3d3d3; background-repeat: no-repeat; background-position: center center; background-color: white; }
/* line 172, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_extensions/susy-1.0.1/sass/susy/_grid.scss */
.categorias ul li:nth-child(2n) { float: right; margin-right: 0; #margin-left: -12px; display: inline; }
/* line 253, sass/partials/_front.scss */
.categorias ul li a { display: block; width: 100%; height: 100%; padding: 20px 30px; text-align: left; text-transform: uppercase; font-size: 20px; position: relative; }
/* line 263, sass/partials/_front.scss */
.categorias ul li a span { position: absolute; bottom: 10px; left: 20px; }
/* line 269, sass/partials/_front.scss */
.categorias ul li a:hover { background: #ec3e35; color: black; text-align: right; }
/* line 274, sass/partials/_front.scss */
.categorias ul li a:hover span { right: 20px; }

/* line 286, sass/partials/_front.scss */
.page-id-24 #content ul { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; margin: 0; padding: 0; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-id-24 #content ul:after { content: ""; display: table; clear: both; }
/* line 291, sass/partials/_front.scss */
.page-id-24 #content ul li { width: 49.47368%; float: right; margin-right: 0; #margin-left: -12px; display: inline; width: 50%; margin: 5px 0 0 0; float: left; }
/* line 297, sass/partials/_front.scss */
.page-id-24 #content ul li img.alignleft { float: left; margin-right: 10px; }
/* line 302, sass/partials/_front.scss */
.page-id-24 #content ul li img.alignright { float: right; margin-left: 10px; }
/* line 307, sass/partials/_front.scss */
.page-id-24 #content ul li h1, .page-id-24 #content ul li h2, .page-id-24 #content ul li p { float: left; display: block; width: 223px; margin: 0; }
/* line 314, sass/partials/_front.scss */
.page-id-24 #content ul li h1 { font-weight: normal; margin-bottom: 50px; }
/* line 320, sass/partials/_front.scss */
.page-id-24 #content ul li.tr h1, .page-id-24 #content ul li.tr h2, .page-id-24 #content ul li.tr p { text-align: right; }

/* line 331, sass/partials/_front.scss */
.page-id-26 #content { *zoom: 1; width: 920px; margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; }
/* line 38, ../../../../../../../ARQUIVOS/PROGRAMAS/DESENVOLVIMENTO/Fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-id-26 #content:after { content: ""; display: table; clear: both; }
/* line 333, sass/partials/_front.scss */
.page-id-26 #content .formulario { width: 49.47368%; float: left; margin-right: 1.05263%; display: inline; }
/* line 337, sass/partials/_front.scss */
.page-id-26 #content ul { width: 49.47368%; float: right; margin-right: 0; #margin-left: -12px; display: inline; margin: 0; padding: 0; }
/* line 342, sass/partials/_front.scss */
.page-id-26 #content ul li { margin-bottom: 60px; padding-left: 50px; background-repeat: no-repeat; background-position: left center; background-image: url('images/contato_ico.jpg?1352253584'); }

/* line 355, sass/partials/_front.scss */
.grid-item { min-height: 165px; margin-bottom: 10px; overflow: hidden; background-repeat: no-repeat; background-color: white; background-position: center center; }
/* line 367, sass/partials/_front.scss */
.grid-item.col1 { width: 24.21053%; float: left; margin-right: 1.05263%; display: inline; }
/* line 368, sass/partials/_front.scss */
.grid-item.col2 { width: 49.47368%; float: left; margin-right: 1.05263%; display: inline; }
/* line 369, sass/partials/_front.scss */
.grid-item.row1 { height: 165px; }
/* line 370, sass/partials/_front.scss */
.grid-item.row2 { height: 340px; }
/* line 371, sass/partials/_front.scss */
.grid-item.omega { float: right; margin-right: 0; #margin-left: -12px; display: inline; }

/* line 376, sass/partials/_front.scss */
.single #content { padding: 0; background: transparent; }

/* line 382, sass/partials/_front.scss */
.paginacao { width: 100%; float: left; margin-right: 1.05263%; display: inline; text-align: right; }
/* line 387, sass/partials/_front.scss */
.paginacao.white span, .paginacao.white a { color: #ffffff; }
/* line 388, sass/partials/_front.scss */
.paginacao.white a:hover { color: #e60004; }

/* line 392, sass/partials/_front.scss */
.bt-voltar { position: absolute; top: 30px; right: 30px; padding-right: 15px; z-index: 10; background-image: url('images/site/seta_pag_esquerda.png?1350245972'); background-repeat: no-repeat; background-position: right center; }
/* line 405, sass/partials/_front.scss */
.bt-voltar.white { top: 0; color: #ffffff; background-image: url('images/seta_pag_esquerda_cinza.png?1352256734'); }
/* line 410, sass/partials/_front.scss */
.bt-voltar.white:hover { color: #e60004; }

/* line 416, sass/partials/_front.scss */
.pikachoose { width: 520px; margin: 0 auto; }

/* line 418, sass/partials/_front.scss */
.pika-thumbs { padding: 0 16px; height: 75px; }
/* line 422, sass/partials/_front.scss */
.pika-thumbs li { width: 154px; height: 112px; margin: 0; padding: 0; overflow: hidden; float: left; list-style-type: none; cursor: pointer; }
/* line 432, sass/partials/_front.scss */
.pika-thumbs li .clip { position: relative; height: 100%; text-align: center; vertical-align: middle; overflow: hidden; }

/* line 442, sass/partials/_front.scss */
.pika-stage, .pika-textnav { width: 920px; }

/* line 443, sass/partials/_front.scss */
.pika-stage { position: relative; height: 375px; text-align: center; }
/* line 448, sass/partials/_front.scss */
.pika-stage img { height: 375px; }
/* line 452, sass/partials/_front.scss */
.pika-stage .caption { display: none; }

/* line 456, sass/partials/_front.scss */
.pika-imgnav { margin-top: 20px; }
/* line 459, sass/partials/_front.scss */
.pika-imgnav a { position: absolute; text-indent: -110%; display: block; z-index: 3; cursor: pointer; }
/* line 466, sass/partials/_front.scss */
.pika-imgnav a.previous { background: url('images/site/seta_esquerda_branca.png?1352167268') no-repeat left 45%; height: 375px; width: 50px; top: 0px; left: 0px; }
/* line 474, sass/partials/_front.scss */
.pika-imgnav a.next { background: url('images/site/seta_direita_branca.png?1352167250') no-repeat right 45%; height: 375px; width: 50px; top: 0px; right: 0px; }
/* line 482, sass/partials/_front.scss */
.pika-imgnav a.play, .pika-imgnav a.pause { display: none; }

/* line 488, sass/partials/_front.scss */
.pika-tooltip { display: none; }

/* line 489, sass/partials/_front.scss */
.pika-counter { display: none; }

/* line 491, sass/partials/_front.scss */
.pika-textnav { overflow: hidden; margin: 10px 0 0 0; bottom: 10px; position: absolute; display: none; }

/* line 492, sass/partials/_front.scss */
.pika-textnav a { font-size: 12px; text-decoration: none; color: #333; padding: 4px; }

/* line 493, sass/partials/_front.scss */
.pika-textnav a.previous { float: left; width: auto; display: block; }

/* line 494, sass/partials/_front.scss */
.pika-textnav a.next { float: right; width: auto; display: block; }

/* line 496, sass/partials/_front.scss */
.pika-loader { background: url(loading.gif) 3px 3px no-repeat black; background-color: rgba(0, 0, 0, 0.9); color: white; width: 60px; font-size: 11px; padding: 5px 3px; text-align: right; position: absolute; top: 15px; right: 15px; }

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
/* line 501, sass/partials/_front.scss */
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 15px 20px; overflow: hidden; margin-top: 50px; }

/* line 502, sass/partials/_front.scss */
.jcarousel-skin-pika .jcarousel-clip-horizontal { height: 90px; width: 485px; }

/* line 503, sass/partials/_front.scss */
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 10px; }

@media screen and (max-device-width: 480px) { /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
@media print { /* line 14, sass/partials/_at_media.scss */
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  /* line 15, sass/partials/_at_media.scss */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  /* line 16, sass/partials/_at_media.scss */
  a:after { content: " (" attr(href) ")"; }
  /* line 17, sass/partials/_at_media.scss */
  abbr:after { content: " (" attr(title) ")"; }
  /* line 18, sass/partials/_at_media.scss */
  .ir a:after { content: ""; }
  /* line 21, sass/partials/_at_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* line 22, sass/partials/_at_media.scss */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* line 23, sass/partials/_at_media.scss */
  thead { display: table-header-group; }
  /* line 24, sass/partials/_at_media.scss */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  /* line 26, sass/partials/_at_media.scss */
  p, h2, h3 { orphans: 3; widows: 3; }
  /* line 27, sass/partials/_at_media.scss */
  h2, h3 { page-break-after: avoid; } }
