/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'HelveticaNeueLT-Light';
  src: url("fonts/helveticaneuelt-light.eot");
  src: url("fonts/helveticaneuelt-light.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-light.woff") format("woff"), url("fonts/helveticaneuelt-light.ttf") format("truetype"), url("fonts/helveticaneuelt-light.svg#helveticaneuelt-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT-LightCond';
  src: url("fonts/helveticaneuelt-lightcond.eot");
  src: url("fonts/helveticaneuelt-lightcond.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-lightcond.woff") format("woff"), url("fonts/helveticaneuelt-lightcond.ttf") format("truetype"), url("fonts/helveticaneuelt-lightcond.svg#helveticaneuelt-lightcond") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT-Roman';
  src: url("fonts/helveticaneuelt-roman.eot");
  src: url("fonts/helveticaneuelt-roman.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-roman.woff") format("woff"), url("fonts/helveticaneuelt-roman.ttf") format("truetype"), url("fonts/helveticaneuelt-roman.svg#helveticaneuelt-roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT-Thin';
  src: url("fonts/helveticaneuelt-thin.eot");
  src: url("fonts/helveticaneuelt-thin.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuelt-thin.woff") format("woff"), url("fonts/helveticaneuelt-thin.ttf") format("truetype"), url("fonts/helveticaneuelt-thin.svg#helveticaneuelt-thin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueregular';
  src: url("fonts/helveticaneue-ultraligcond-webfont.eot");
  src: url("fonts/helveticaneue-ultraligcond-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneue-ultraligcond-webfont.woff") format("woff"), url("fonts/helveticaneue-ultraligcond-webfont.ttf") format("truetype"), url("fonts/helveticaneue-ultraligcond-webfont.svg#helvetica_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../sass/partials/_boilerplate.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, ../sass/partials/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, ../sass/partials/_boilerplate.scss */
nav ul {
  list-style: none;
}

/* line 24, ../sass/partials/_boilerplate.scss */
blockquote, q {
  quotes: none;
}

/* line 25, ../sass/partials/_boilerplate.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 26, ../sass/partials/_boilerplate.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 27, ../sass/partials/_boilerplate.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 28, ../sass/partials/_boilerplate.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 29, ../sass/partials/_boilerplate.scss */
del {
  text-decoration: line-through;
}

/* line 30, ../sass/partials/_boilerplate.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 31, ../sass/partials/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 32, ../sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 33, ../sass/partials/_boilerplate.scss */
input, select {
  vertical-align: middle;
}

/* line 35, ../sass/partials/_boilerplate.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 38, ../sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 39, ../sass/partials/_boilerplate.scss */
html {
  overflow-y: scroll;
}

/* line 40, ../sass/partials/_boilerplate.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 41, ../sass/partials/_boilerplate.scss */
ol {
  list-style-type: decimal;
}

/* line 43, ../sass/partials/_boilerplate.scss */
nav ul, nav li {
  margin: 0;
}

/* line 44, ../sass/partials/_boilerplate.scss */
small {
  font-size: 85%;
}

/* line 45, ../sass/partials/_boilerplate.scss */
strong, th {
  font-weight: bold;
}

/* line 46, ../sass/partials/_boilerplate.scss */
td, td img {
  vertical-align: top;
}

/* line 47, ../sass/partials/_boilerplate.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 48, ../sass/partials/_boilerplate.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 49, ../sass/partials/_boilerplate.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 50, ../sass/partials/_boilerplate.scss */
textarea {
  overflow: auto;
}

/* line 51, ../sass/partials/_boilerplate.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 52, ../sass/partials/_boilerplate.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 53, ../sass/partials/_boilerplate.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 54, ../sass/partials/_boilerplate.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 55, ../sass/partials/_boilerplate.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 56, ../sass/partials/_boilerplate.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 57, ../sass/partials/_boilerplate.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 59, ../sass/partials/_boilerplate.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 61, ../sass/partials/_boilerplate.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 65, ../sass/partials/_boilerplate.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 66, ../sass/partials/_boilerplate.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 68, ../sass/partials/_boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 69, ../sass/partials/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 70, ../sass/partials/_boilerplate.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 71, ../sass/partials/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 72, ../sass/partials/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 73, ../sass/partials/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 74, ../sass/partials/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

/* line 1, ../sass/partials/_base.scss */
html, body {
  min-height: 100%;
}

/* line 2, ../sass/partials/_base.scss */
body {
  color: black;
  font-family: "HelveticaNeueLT-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  background: #1b1c20;
}

/* line 3, ../sass/partials/_base.scss */
body, select, input, textarea {
  color: black;
}

/* line 4, ../sass/partials/_base.scss */
a:hover, a:active {
  outline: none;
}

/* line 7, ../sass/partials/_base.scss */
a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

/* line 8, ../sass/partials/_base.scss */
a:hover {
  color: #e60004;
}

/* line 9, ../sass/partials/_base.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 10, ../sass/partials/_base.scss */
a img {
  border: none;
}

/* line 11, ../sass/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

/* line 12, ../sass/partials/_base.scss */
h1 {
  font-size: 24px;
}

/* line 14, ../sass/partials/_base.scss */
pre, code, kbd, samp {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
}

/* line 16, ../sass/partials/_base.scss */
::-moz-selection {
  background: #666666;
  color: black;
  text-shadow: none;
}

/* line 21, ../sass/partials/_base.scss */
::selection {
  background: #666666;
  color: black;
  text-shadow: none;
}

/* line 27, ../sass/partials/_base.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 28, ../sass/partials/_base.scss */
.alignleft {
  float: left;
  margin: 0 40px 40px 0;
}

/* line 29, ../sass/partials/_base.scss */
.alignright {
  float: right;
  margin: 0 0 40px 40px;
}

/* line 30, ../sass/partials/_base.scss */
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

/*
<a class="media promo">
    <img src="product.jpg" alt="" class="img">
    <p class="body">Get Product for half price!</p>
</a>
*/
/* line 39, ../sass/partials/_base.scss */
.media {
  display: block;
}
/* line 41, ../sass/partials/_base.scss */
.media .img {
  float: left;
  margin-right: 20px;
}
/* line 44, ../sass/partials/_base.scss */
.media .img img {
  display: block;
}
/* line 48, ../sass/partials/_base.scss */
.media .img-rev {
  float: right;
  margin-left: 20px;
}
/* line 51, ../sass/partials/_base.scss */
.media .img-rev img {
  display: block;
}
/* line 55, ../sass/partials/_base.scss */
.media .body {
  overflow: hidden;
}
/* line 57, ../sass/partials/_base.scss */
.media .body > :last-child {
  margin-bottom: 0;
}

/* line 63, ../sass/partials/_base.scss */
#content {
  position: relative;
  padding: 50px;
  overflow: hidden;
  *zoom: 1;
}
/* line 14, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0/sass/susy/_grid.scss */
#content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 69, ../sass/partials/_base.scss */
#content p {
  margin-top: 20px;
}

/* line 1, ../sass/partials/_form.scss */
.nav {
  list-style: none;
  margin-left: 0;
}
/* line 6, ../sass/partials/_form.scss */
.nav > li,
.nav > li label,
.nav > li > a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 9, ../sass/partials/_form.scss */
.nav > li label {
  vertical-align: middle;
}
/* line 15, ../sass/partials/_form.scss */
.nav.breadcrumb > li {
  font-weight: bold;
}
/* line 17, ../sass/partials/_form.scss */
.nav.breadcrumb > li:before {
  content: "\0020\00BB\0020";
}
/* line 20, ../sass/partials/_form.scss */
.nav.breadcrumb > li:first-child:before {
  content: normal;
}
/* line 24, ../sass/partials/_form.scss */
.nav.breadcrumb a {
  font-weight: normal;
}

/* line 30, ../sass/partials/_form.scss */
.controls-row {
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../sass/partials/_form.scss */
.controls-row [class*="span"] {
  float: left;
}

/* line 44, ../sass/partials/_form.scss */
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
/* line 49, ../sass/partials/_form.scss */
.form-horizontal .hide {
  display: none;
}

/* line 55, ../sass/partials/_form.scss */
.control-group {
  margin-bottom: 10px;
}

/* line 62, ../sass/partials/_form.scss */
.form-horizontal .control-group {
  margin-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 66, ../sass/partials/_form.scss */
.form-horizontal .control-label {
  float: left;
  width: 130px;
  padding-top: 5px;
  text-align: right;
}
/* line 72, ../sass/partials/_form.scss */
.form-horizontal .controls {
  position: relative;
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 150px;
  *margin-left: 0;
}
/* line 78, ../sass/partials/_form.scss */
.form-horizontal .controls:first-child {
  *padding-left: 150px;
}
/* line 86, ../sass/partials/_form.scss */
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
  margin-top: 5px;
}
/* line 92, ../sass/partials/_form.scss */
.form-horizontal button,
.form-horizontal input[type='submit'] {
  border: 1px solid #fd4e45;
  border-width: 1px 0;
  background-color: transparent;
  color: black;
  text-transform: lowercase;
}

/* line 1, ../sass/partials/_layout.scss */
body.grid #container {
  *zoom: 1;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.grid #container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/partials/_layout.scss */
body.grid #container #contentwrap {
  width: 100%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}

/* line 13, ../sass/partials/_layout.scss */
body.grid #container > header,
body.grid #container > footer,
body.grid.one-column #posts {
  width: 100%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}

/* line 4, ../sass/partials/_header.scss */
header {
  min-height: 110px;
  margin-bottom: 2px;
  overflow: hidden;
  *zoom: 1;
}
/* line 9, ../sass/partials/_header.scss */
header.white {
  background: #ffffff;
}
/* line 13, ../sass/partials/_header.scss */
header .logo {
  width: 11.57895%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  margin-top: 12px;
}
/* line 17, ../sass/partials/_header.scss */
header .logo h1 {
  float: none;
  clear: both;
  margin: 0 auto;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-position: 0 -68px;
  height: 68px;
  width: 74px;
  background-image: url('/images/site-s14b2f4437f.png');
  background-repeat: no-repeat;
}
/* line 23, ../sass/partials/_header.scss */
header .logo h1.vermelho {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-position: 0 0;
  height: 68px;
  width: 75px;
  background-image: url('/images/site-s14b2f4437f.png');
  background-repeat: no-repeat;
}
/* line 29, ../sass/partials/_header.scss */
header nav {
  width: 87.36842%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  padding-top: 80px;
  min-height: 30px;
}
/* line 34, ../sass/partials/_header.scss */
header nav ul {
  margin: 0;
  padding: 0 20px 0 0;
  list-style: none;
  display: block;
  overflow: hidden;
  float: right;
}
/* line 42, ../sass/partials/_header.scss */
header nav ul li {
  display: inline-block;
  float: left;
  padding: 0 12px;
  margin: 0 0;
  font-size: 13px;
  font-family: "HelveticaNeueLT-LightCond", "Helvetica",Verdana,Tahoma,Helvetica,Arial,sans-serif;
}
/* line 50, ../sass/partials/_header.scss */
header nav ul li a {
  text-transform: uppercase;
}
/* line 52, ../sass/partials/_header.scss */
header nav ul li.current-menu-item a {
  color: #e60004;
}
/* line 57, ../sass/partials/_header.scss */
header nav.branco ul li a {
  color: white;
}
/* line 58, ../sass/partials/_header.scss */
header nav.branco ul li.current-menu-item a {
  color: #e60004;
}

/* line 4, ../sass/partials/_footer.scss */
#container footer {
  overflow: hidden;
  *zoom: 1;
  margin-top: 2px;
  min-height: 100px;
}
/* line 9, ../sass/partials/_footer.scss */
#container footer.white {
  background: #ffffff;
}
/* line 13, ../sass/partials/_footer.scss */
#container footer div {
  padding-top: 12px;
}
/* line 16, ../sass/partials/_footer.scss */
#container footer div.direitos {
  padding-left: 1.05263%;
  padding-right: 1.05263%;
  width: 68.42105%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 20, ../sass/partials/_footer.scss */
#container footer div.companhia {
  padding-left: 1.05263%;
  padding-right: 1.05263%;
  width: 24.21053%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  text-align: right;
}
/* line 25, ../sass/partials/_footer.scss */
#container footer div p, #container footer div a {
  font-size: 11px;
}
/* line 31, ../sass/partials/_footer.scss */
#container footer.txt-branco p, #container footer.txt-branco a {
  color: white;
}

/* line 4, ../sass/partials/_sidebar.scss */
#container aside {
  background-color: #ccc;
  margin-top: 1em;
  min-height: 500px;
}
/* line 8, ../sass/partials/_sidebar.scss */
#container aside h2 {
  margin-top: 20px;
}
/* line 9, ../sass/partials/_sidebar.scss */
#container aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 13, ../sass/partials/_sidebar.scss */
#container aside ul li {
  padding: 2px;
}
/* line 14, ../sass/partials/_sidebar.scss */
#container aside ul li a {
  display: block;
  border-bottom: solid 1px #ececec;
}

/* line 5, ../sass/partials/_posts.scss */
#posts {
  margin-top: 1em;
  min-height: 500px;
}
/* line 8, ../sass/partials/_posts.scss */
#posts nav {
  padding: 0px;
  font-size: .9em;
  overflow: hidden;
}
/* line 9, ../sass/partials/_posts.scss */
#posts nav .previous {
  float: left;
}
/* line 10, ../sass/partials/_posts.scss */
#posts nav .next {
  float: right;
}

/* line 14, ../sass/partials/_posts.scss */
article.post h2 a {
  color: #333;
  text-decoration: none;
}
/* line 15, ../sass/partials/_posts.scss */
article.post h2 a:hover {
  color: #ccc;
}
/* line 16, ../sass/partials/_posts.scss */
article.post p {
  margin: 1.2em 1em 1.2em 0;
}
/* line 17, ../sass/partials/_posts.scss */
article.post a {
  text-decoration: underline;
}
/* line 18, ../sass/partials/_posts.scss */
article.post img {
  padding: 5px 8px;
}
/* line 19, ../sass/partials/_posts.scss */
article.post ul {
  list-style: square;
  padding: 2px 0;
}
/* line 20, ../sass/partials/_posts.scss */
article.post li {
  padding: 2px 0;
}
/* line 21, ../sass/partials/_posts.scss */
article.post small {
  font-size: .9em;
}

/* styling for 'continued' page links */
/* line 25, ../sass/partials/_posts.scss */
p.continued {
  padding: 5px;
  background: #f0f0f0;
}

/* line 26, ../sass/partials/_posts.scss */
p.continued a {
  padding: 5px;
  font-weight: bold;
}

/* line 4, ../sass/partials/_comments.scss */
#comments {
  margin: 0px 10px 10px 0;
  padding: 0px 10px 10px 0;
}
/* line 8, ../sass/partials/_comments.scss */
#comments h3 {
  margin: 0 0 10px;
}
/* line 10, ../sass/partials/_comments.scss */
#comments ol.commentlist {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 14, ../sass/partials/_comments.scss */
#comments ol.commentlist li {
  background: #ececec;
  margin: 0px 0 10px;
  padding: 10px;
}

/* line 23, ../sass/partials/_comments.scss */
#commentbox {
  width: 100%;
  min-width: 400px;
  margin: 5px 5px 0 0;
}

/* line 28, ../sass/partials/_comments.scss */
#commentform {
  margin: 0px 10px 10px 0;
  padding: 0px 10px 10px 0;
}
/* line 36, ../sass/partials/_comments.scss */
#commentform #author,
#commentform #email,
#commentform #url,
#commentform textarea,
#commentform #submit {
  border: solid 1px #ccc;
  margin: 5px 5px 0 0;
}

/* fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 12, ../sass/partials/_fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 20, ../sass/partials/_fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 27, ../sass/partials/_fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 38, ../sass/partials/_fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 42, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 48, ../sass/partials/_fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 52, ../sass/partials/_fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 56, ../sass/partials/_fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 60, ../sass/partials/_fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 68, ../sass/partials/_fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 74, ../sass/partials/_fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 79, ../sass/partials/_fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('/images/fancybox/fancybox_sprite.png?1357229928');
}

/* line 83, ../sass/partials/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 95, ../sass/partials/_fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('/images/fancybox/fancybox_loading.gif?1357229929') center center no-repeat;
}

/* line 101, ../sass/partials/_fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 111, ../sass/partials/_fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('/images/fancybox/blank.gif?1357229929');
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 123, ../sass/partials/_fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 127, ../sass/partials/_fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 131, ../sass/partials/_fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 142, ../sass/partials/_fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 147, ../sass/partials/_fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 152, ../sass/partials/_fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 156, ../sass/partials/_fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 168, ../sass/partials/_fancybox.scss */
.fancybox-lock {
  overflow: hidden;
}

/* line 172, ../sass/partials/_fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

/* line 184, ../sass/partials/_fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 190, ../sass/partials/_fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: none;
}

/* Title helper */
/* line 197, ../sass/partials/_fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 205, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 209, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 218, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 234, ../sass/partials/_fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 240, ../sass/partials/_fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 244, ../sass/partials/_fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/* line 2, ../sass/partials/_front.scss */
.page-id-12 #content {
  background: white;
}

/* line 7, ../sass/partials/_front.scss */
.home {
  background: #000000;
}
/* line 10, ../sass/partials/_front.scss */
.home footer {
  background: white;
}
/* line 14, ../sass/partials/_front.scss */
.home #content {
  *zoom: 1;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  background: white;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.home #content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, ../sass/partials/_front.scss */
.home .container_destaques {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  height: 450px;
  background: white;
}
/* line 28, ../sass/partials/_front.scss */
.home .container_destaques .destaque_principal {
  position: relative;
  height: 350px;
}
/* line 32, ../sass/partials/_front.scss */
.home .container_destaques .destaque_principal img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 39, ../sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto {
  position: absolute;
  width: 400px;
  right: 0;
  z-index: 2;
  padding-top: 100px;
  text-align: center;
  font-family: "HelveticaNeueLT-LightCond";
}
/* line 48, ../sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "HelveticaNeueLT-Thin";
}
/* line 55, ../sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto p {
  margin-bottom: 30px;
}
/* line 59, ../sass/partials/_front.scss */
.home .container_destaques .destaque_principal .texto .maisdetalhes {
  width: 110px;
  text-align: center;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0;
}
/* line 72, ../sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs {
  font-size: 10px;
  overflow: hidden;
  width: 100%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 77, ../sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul {
  width: auto;
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
}
/* line 83, ../sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li {
  width: 32.39437%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  height: 83px;
  border-right: 1px solid #c2c2c2;
  float: left;
}
/* line 89, ../sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li.no-border {
  border: 0;
}
/* line 91, ../sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 96, ../sass/partials/_front.scss */
.home .container_destaques .destaque_thumbs ul li a img {
  margin: 10px 20px;
  vertical-align: middle;
}
/* line 105, ../sass/partials/_front.scss */
.home .container_extras {
  border-top: 2px solid black;
  background: white;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
}
/* line 110, ../sass/partials/_front.scss */
.home .container_extras .video {
  width: 49.47368%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 111, ../sass/partials/_front.scss */
.home .container_extras .blog {
  width: 49.47368%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  padding: 5px 10px;
}
/* line 116, ../sass/partials/_front.scss */
.home .container_extras .blog p {
  font-size: 11px;
  color: #888888;
  margin-top: 8px !important;
}
/* line 121, ../sass/partials/_front.scss */
.home .container_extras .blog p.data {
  color: #000000;
}

/* line 129, ../sass/partials/_front.scss */
.produtos {
  padding: 0 !important;
  *zoom: 1;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.produtos:after {
  content: "";
  display: table;
  clear: both;
}
/* line 133, ../sass/partials/_front.scss */
.produtos .produto {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  position: relative;
  border: 1px solid #d3d3d3;
  background: white;
  height: 400px;
}
/* line 141, ../sass/partials/_front.scss */
.produtos .produto .imagem {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 147, ../sass/partials/_front.scss */
.produtos .produto .descricao {
  position: absolute;
  top: 50%;
  height: 115px;
  margin-top: -77px;
  right: 0;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 0 0 20px;
  border-left: 1px solid black;
}
/* line 156, ../sass/partials/_front.scss */
.produtos .produto .descricao h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  line-height: 9px;
  margin-bottom: 30px;
}
/* line 164, ../sass/partials/_front.scss */
.produtos .produto .descricao p {
  font-size: 12px;
  position: absolute;
  top: auto;
  bottom: 0;
}
/* line 172, ../sass/partials/_front.scss */
.produtos .produto .shareit {
  position: absolute;
  top: auto;
  bottom: 12px;
  right: 0;
  width: 300px;
  font-size: 10px;
  color: #6a6a6a;
  font-family: "HelveticaNeueLT-Thin";
}
/* line 174, ../sass/partials/_front.scss */
.produtos .produto .shareit a {
  display: block;
  color: #6a6a6a;
  padding: 3px 0;
  margin-left: 132px;
}
/* line 176, ../sass/partials/_front.scss */
.produtos .produto .shareit a:first-child {
  margin-left: 0px;
}
/* line 178, ../sass/partials/_front.scss */
.produtos .produto .shareit img {
  vertical-align: middle;
}
/* line 182, ../sass/partials/_front.scss */
.produtos .relacionados {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  margin-top: 56px;
}
/* line 186, ../sass/partials/_front.scss */
.produtos .relacionados div.navegacao {
  position: relative;
  top: -26px;
  font-size: 10px;
  line-height: 10px;
}
/* line 188, ../sass/partials/_front.scss */
.produtos .relacionados div.navegacao .left {
  float: left;
  margin-left: 30px;
}
/* line 189, ../sass/partials/_front.scss */
.produtos .relacionados div.navegacao .right {
  float: right;
}
/* line 192, ../sass/partials/_front.scss */
.produtos .relacionados p {
  padding: 20px 30px;
}
/* line 194, ../sass/partials/_front.scss */
.produtos .relacionados ul {
  *zoom: 1;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  padding: 0;
  border: 1px solid #d3d3d3;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.produtos .relacionados ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 200, ../sass/partials/_front.scss */
.produtos .relacionados ul li {
  width: 15.49296%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  width: 150px;
  height: 115px;
  overflow: hidden;
  border-right: 1px dotted #d3d3d3;
}
/* line 173, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0/sass/susy/_grid.scss */
.produtos .relacionados ul li:nth-child(6n) {
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
}

/* line 212, ../sass/partials/_front.scss */
.xx {
  color: 123;
}

/* line 214, ../sass/partials/_front.scss */
.lista-items {
  *zoom: 1;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  padding: 0 !important;
  background-color: transparent !important;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lista-items:after {
  content: "";
  display: table;
  clear: both;
}
/* line 219, ../sass/partials/_front.scss */
.lista-items .grid-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  font-family: "helvetica_neueregular";
  min-height: 165px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
  margin-bottom: 10px;
}
/* line 223, ../sass/partials/_front.scss */
.lista-items .grid-item:hover {
  background-color: #1b1c20;
}
/* line 227, ../sass/partials/_front.scss */
.lista-items .grid-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}
/* line 237, ../sass/partials/_front.scss */
.lista-items .grid-item a span {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
/* line 242, ../sass/partials/_front.scss */
.lista-items .grid-item a:hover {
  background: #ec3e35 url("images/bg_ee.png") no-repeat top left;
  color: black;
}
/* line 244, ../sass/partials/_front.scss */
.lista-items .grid-item a:hover span {
  display: block;
}
/* line 250, ../sass/partials/_front.scss */
.lista-items .grid-item.evento {
  border: 0;
  background-color: #1B1C20;
}
/* line 252, ../sass/partials/_front.scss */
.lista-items .grid-item.evento a span {
  text-align: left;
  font-family: "HelveticaNeueLT-Thin";
  font-size: 18px;
  display: none;
  top: 10px;
  left: 10px;
  bottom: auto;
  right: auto;
}
/* line 253, ../sass/partials/_front.scss */
.lista-items .grid-item.evento a span.bottom {
  font-family: "helvetica_neueregular";
  font-size: 12px;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
}
/* line 254, ../sass/partials/_front.scss */
.lista-items .grid-item.evento a:hover {
  background: #ec3e35;
  color: black;
}
/* line 255, ../sass/partials/_front.scss */
.lista-items .grid-item.evento a:hover span {
  display: block;
}

/* line 264, ../sass/partials/_front.scss */
.categorias {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  padding: 0 !important;
  background-color: transparent !important;
  position: relative;
}

/* line 265, ../sass/partials/_front.scss */
.categorias .combo-categorias {
  width: 200px;
  height: 20px;
  position: relative;
  z-index: 20;
  top: 0;
}

/* line 266, ../sass/partials/_front.scss */
.categorias .combo-categorias a.atual {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  padding-left: 12px;
  background-image: url("images/site/seta_baixo.png?1352665922");
  background-repeat: no-repeat;
  background-position: left 4px;
}

/* line 267, ../sass/partials/_front.scss */
.categorias .combo-categorias a.atual:hover {
  color: black;
}

/* line 268, ../sass/partials/_front.scss */
.categorias .combo-categorias ul {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 19px;
  background: #ffffff;
  border: 1px solid #cccccc;
  display: none;
}

/* line 269, ../sass/partials/_front.scss */
.categorias .combo-categorias ul li {
  width: 100%;
  height: 20px;
  padding: 0 12px;
}

/* line 270, ../sass/partials/_front.scss */
.categorias .combo-categorias ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 271, ../sass/partials/_front.scss */
.categorias .combo-categorias ul li a:hover {
  color: #e60004;
}

/* line 272, ../sass/partials/_front.scss */
.categorias .produtos-container {
  position: relative;
  top: 25px;
  z-index: 10;
}

/* line 275, ../sass/partials/_front.scss */
.categorias {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  padding: 0 !important;
  background-color: transparent !important;
  position: relative;
}
/* line 281, ../sass/partials/_front.scss */
.categorias .combo-categorias {
  width: 200px;
  height: 20px;
  position: relative;
  z-index: 20;
  top: 0;
}
/* line 288, ../sass/partials/_front.scss */
.categorias .combo-categorias a.atual {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  padding-left: 12px;
  background-image: url("images/site/seta_baixo.png?1352665922");
  background-repeat: no-repeat;
  background-position: left 4px;
}
/* line 291, ../sass/partials/_front.scss */
.categorias .combo-categorias a.atual:hover {
  color: black;
}
/* line 294, ../sass/partials/_front.scss */
.categorias .combo-categorias ul {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 19px;
  background: #ffffff;
  border: 1px solid #cccccc;
  display: none;
}
/* line 304, ../sass/partials/_front.scss */
.categorias .combo-categorias ul li {
  width: 100%;
  height: 20px;
  padding: 0 12px;
}
/* line 309, ../sass/partials/_front.scss */
.categorias .combo-categorias ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 314, ../sass/partials/_front.scss */
.categorias .combo-categorias ul li a:hover {
  color: #e60004;
}
/* line 322, ../sass/partials/_front.scss */
.categorias .produtos-container {
  position: relative;
  top: 25px;
  z-index: 10;
}
/* line 328, ../sass/partials/_front.scss */
.categorias ul.grid-container {
  *zoom: 1;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  padding: 0;
}
/* line 329, ../sass/partials/_front.scss */
.categorias ul.grid-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 330, ../sass/partials/_front.scss */
.categorias ul.grid-container li {
  font-family: "helvetica_neueregular";
  width: 449px;
  float: left;
  margin-bottom: 22px;
  margin-right: 22px;
  display: inline;
  height: 158px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}
/* line 331, ../sass/partials/_front.scss */
.categorias ul.grid-container li:nth-child(2n) {
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
}
/* line 332, ../sass/partials/_front.scss */
.categorias ul.grid-container li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  color: #999;
}
/* line 333, ../sass/partials/_front.scss */
.categorias ul.grid-container li a span {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
/* line 334, ../sass/partials/_front.scss */
.categorias ul.grid-container li a:hover {
  background: #ec3e35 url("images/bg_ee.png") no-repeat top left;
  color: black;
  text-align: right;
}
/* line 335, ../sass/partials/_front.scss */
.categorias ul.grid-container li a:hover span {
  right: 20px;
}

/* line 385, ../sass/partials/_front.scss */
.page-id-12 {
  font-family: "HelveticaNeueLT-LightCond";
}
/* line 388, ../sass/partials/_front.scss */
.page-id-12 #content img.alignleft {
  margin-right: 60px;
}
/* line 392, ../sass/partials/_front.scss */
.page-id-12 #content h1 {
  font-size: 24px;
  margin-bottom: 100px !important;
}
/* line 397, ../sass/partials/_front.scss */
.page-id-12 #content p {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
  line-height: 21px;
  text-align: justify;
  text-justify: newspaper;
}

/* line 410, ../sass/partials/_front.scss */
.page-id-24 #content {
  padding: 40px 0 0 0;
}

/* line 411, ../sass/partials/_front.scss */
.page-id-24 #content ul {
  width: 920px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

/* line 412, ../sass/partials/_front.scss */
.page-id-24 #content ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 413, ../sass/partials/_front.scss */
.page-id-24 #content ul li {
  display: inline-block;
  width: 50%;
  margin: 5px 0 0 0;
  font-size: 14px;
}

/* line 414, ../sass/partials/_front.scss */
.page-id-24 #content ul li.media {
  position: relative;
}

/* line 415, ../sass/partials/_front.scss */
.page-id-24 #content ul li.media .img {
  margin-right: 0;
}

/* line 416, ../sass/partials/_front.scss */
.page-id-24 #content ul li.media .img-rev {
  margin-left: 0;
}

/* line 417, ../sass/partials/_front.scss */
.page-id-24 #content ul li.media .body {
  font-family: "HelveticaNeueLT-LightCond";
  position: absolute;
  bottom: 0;
  top: auto;
  left: 233px;
  right: auto;
}

/* line 418, ../sass/partials/_front.scss */
.page-id-24 #content ul li h1 {
  font-size: 24px;
  font-family: "helvetica_neueregular";
  line-height: 32px;
}

/* line 419, ../sass/partials/_front.scss */
.page-id-24 #content ul li h2 {
  font-size: 18px;
}

/* line 422, ../sass/partials/_front.scss */
.page-id-24 #content ul li h1,
.page-id-24 #content ul li h2,
.page-id-24 #content ul li p {
  margin: 0;
}

/* line 423, ../sass/partials/_front.scss */
.page-id-24 #content ul li h1 {
  font-weight: normal;
  margin-bottom: 50px;
}

/* line 424, ../sass/partials/_front.scss */
.page-id-24 #content ul li.tr.media .body {
  right: 233px;
  left: auto;
}

/* line 427, ../sass/partials/_front.scss */
.page-id-24 #content ul li.tr h1,
.page-id-24 #content ul li.tr h2,
.page-id-24 #content ul li.tr p {
  text-align: right;
}

/* line 475, ../sass/partials/_front.scss */
.page-id-26 #content {
  *zoom: 1;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
/* line 38, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page-id-26 #content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 477, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 {
  width: 49.47368%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  margin-top: 98px !important;
}
/* line 481, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 fieldset {
  width: 100%;
  margin: 10px 0;
}
/* line 485, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 fieldset label {
  width: 80px;
  float: left;
  text-align: right;
  margin-top: 5px;
}
/* line 492, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 fieldset input {
  width: 320px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 10px;
}
/* line 498, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 fieldset input[type=text] {
  border: 1px solid #d5d5d5;
}
/* line 502, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 p {
  text-align: right;
  padding-right: 24px;
}
/* line 507, ../sass/partials/_front.scss */
.page-id-26 #content .wpcf7 .bt-enviar {
  float: right;
  margin-right: 24px;
  background: transparent;
  border-style: solid;
  border-color: #fd5a51;
  border-width: 1px 0;
}
/* line 519, ../sass/partials/_front.scss */
.page-id-26 #content ul {
  width: 49.47368%;
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 524, ../sass/partials/_front.scss */
.page-id-26 #content ul li {
  margin-bottom: 60px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('/images/contato_ico.jpg?1357229923');
}

/* line 537, ../sass/partials/_front.scss */
.grid-item {
  min-height: 165px;
  margin-bottom: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
}
/* line 549, ../sass/partials/_front.scss */
.grid-item.col1 {
  width: 24.21053%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 550, ../sass/partials/_front.scss */
.grid-item.col2 {
  width: 49.47368%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
/* line 551, ../sass/partials/_front.scss */
.grid-item.row1 {
  height: 165px;
}
/* line 552, ../sass/partials/_front.scss */
.grid-item.row2 {
  height: 340px;
}
/* line 553, ../sass/partials/_front.scss */
.grid-item.omega {
  float: right;
  margin-right: 0;
  #margin-left: -12px;
  display: inline;
}

/* line 558, ../sass/partials/_front.scss */
.single #content {
  padding: 0;
  background: transparent;
}

/* line 564, ../sass/partials/_front.scss */
.paginacao {
  width: 100%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  text-align: right;
}
/* line 569, ../sass/partials/_front.scss */
.paginacao.white span, .paginacao.white a {
  color: #ffffff;
}
/* line 570, ../sass/partials/_front.scss */
.paginacao.white a:hover {
  color: #e60004;
}

/* line 574, ../sass/partials/_front.scss */
.bt-voltar {
  position: absolute;
  top: 30px;
  right: 30px;
  padding-right: 15px;
  z-index: 10;
  background-image: url('/images/site/seta_pag_esquerda.png?1357229930');
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 587, ../sass/partials/_front.scss */
.bt-voltar.white {
  top: 0;
  color: #ffffff;
  background-image: url('/images/seta_pag_esquerda_cinza.png?1357229916');
}
/* line 592, ../sass/partials/_front.scss */
.bt-voltar.white:hover {
  color: #e60004;
}

/* line 598, ../sass/partials/_front.scss */
.pikachoose {
  width: 520px;
  margin: 0 auto;
}

/* line 600, ../sass/partials/_front.scss */
.pika-thumbs {
  padding: 0 16px;
  height: 75px;
}
/* line 604, ../sass/partials/_front.scss */
.pika-thumbs li {
  width: 154px;
  height: 112px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  list-style-type: none;
  cursor: pointer;
}
/* line 614, ../sass/partials/_front.scss */
.pika-thumbs li .clip {
  position: relative;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

/* line 624, ../sass/partials/_front.scss */
.pika-stage, .pika-textnav {
  width: 920px;
}

/* line 625, ../sass/partials/_front.scss */
.pika-stage {
  position: relative;
  height: 375px;
  text-align: center;
  margin-bottom: 56px;
}
/* line 628, ../sass/partials/_front.scss */
.pika-stage img {
  height: 375px;
}
/* line 632, ../sass/partials/_front.scss */
.pika-stage .caption {
  display: none;
}

/* line 636, ../sass/partials/_front.scss */
.pika-imgnav {
  margin-top: 20px;
}
/* line 639, ../sass/partials/_front.scss */
.pika-imgnav a {
  position: absolute;
  text-indent: -110%;
  display: block;
  z-index: 3;
  cursor: pointer;
}
/* line 646, ../sass/partials/_front.scss */
.pika-imgnav a.previous {
  background: url('/images/site/seta_esquerda_branca.png?1357229931') no-repeat left 45%;
  height: 375px;
  width: 50px;
  top: 0px;
  left: 0px;
}
/* line 654, ../sass/partials/_front.scss */
.pika-imgnav a.next {
  background: url('/images/site/seta_direita_branca.png?1357229931') no-repeat right 45%;
  height: 375px;
  width: 50px;
  top: 0px;
  right: 0px;
}
/* line 662, ../sass/partials/_front.scss */
.pika-imgnav a.play, .pika-imgnav a.pause {
  display: none;
}

/* line 668, ../sass/partials/_front.scss */
.boxinfo {
  background-color: white;
  width: 830px;
  height: 500px;
  font-family: 'HelveticaNeueLT-Light';
  position: relative;
  font-size: 12px;
}
/* line 675, ../sass/partials/_front.scss */
.boxinfo .boxinfo-header {
  border: 1px solid #fd4e45;
  border-width: 1px 0;
  margin-top: 30px;
  padding: 10px 30px;
}
/* line 680, ../sass/partials/_front.scss */
.boxinfo .boxinfo-header h1 {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-family: 'HelveticaNeueLT-Light';
  float: left;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
}
/* line 690, ../sass/partials/_front.scss */
.boxinfo .boxinfo-header div {
  float: right;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
}
/* line 695, ../sass/partials/_front.scss */
.boxinfo .boxinfo-header div a {
  padding-right: 15px;
  background-image: url("images/site/seta_pag_esquerda.png?1353882204");
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 703, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content {
  overflow: hidden;
  *zoom: 1;
  padding: 0 30px 50px 30px;
  position: absolute;
  bottom: 0;
}
/* line 709, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content p {
  margin: 0;
  padding: 0 0 25px 0;
}
/* line 715, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content input[type=text],
.boxinfo .boxinfo-content select {
  width: 180px;
  border: 1px solid #dbdbdb;
  padding: 3px;
}
/* line 719, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content input[type=text]:focus,
.boxinfo .boxinfo-content select:focus {
  outline: none;
}
/* line 725, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content button,
.boxinfo .boxinfo-content input[type='submit'] {
  font-family: 'HelveticaNeueLT-Light';
  position: absolute;
  top: auto;
  left: auto;
  bottom: 20px;
  right: 10px;
}
/* line 734, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-form {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 380px;
  vertical-align: bottom;
  border-right: 1px solid #dbdbdb;
  padding-right: 25px;
  position: relative;
}
/* line 743, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-form .nav li {
  margin-right: 15px;
}
/* line 745, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-form .nav li:last-child {
  margin-right: 0;
}
/* line 750, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-form .campo-msg {
  font-size: 10px;
  display: block;
  padding-top: 5px;
}
/* line 757, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-produto {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 380px;
  vertical-align: bottom;
  padding-left: 15px;
}
/* line 763, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-produto h3 {
  font-family: 'HelveticaNeueLT-Light';
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 771, ../sass/partials/_front.scss */
.boxinfo .boxinfo-content .boxinfo-ask {
  font-size: 10px;
}

/* line 778, ../sass/partials/_front.scss */
.pika-tooltip {
  display: none;
}

/* line 779, ../sass/partials/_front.scss */
.pika-counter {
  display: none;
}

/* line 781, ../sass/partials/_front.scss */
.pika-textnav {
  overflow: hidden;
  margin: 10px 0 0 0;
  bottom: 10px;
  position: absolute;
  display: none;
}

/* line 782, ../sass/partials/_front.scss */
.pika-textnav a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
  padding: 4px;
}

/* line 783, ../sass/partials/_front.scss */
.pika-textnav a.previous {
  float: left;
  width: auto;
  display: block;
}

/* line 784, ../sass/partials/_front.scss */
.pika-textnav a.next {
  float: right;
  width: auto;
  display: block;
}

/* line 786, ../sass/partials/_front.scss */
.pika-loader {
  background: url(loading.gif) 3px 3px no-repeat black;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  width: 60px;
  font-size: 11px;
  padding: 5px 3px;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
/* line 791, ../sass/partials/_front.scss */
.jcarousel-skin-pika .jcarousel-container-horizontal {
  padding: 15px 20px;
  overflow: hidden;
  margin-top: 50px;
}

/* line 792, ../sass/partials/_front.scss */
.jcarousel-skin-pika .jcarousel-clip-horizontal {
  height: 90px;
  width: 485px;
}

/* line 793, ../sass/partials/_front.scss */
.jcarousel-skin-pika .jcarousel-item-horizontal {
  margin-right: 10px;
}

/* line 801, ../sass/partials/_front.scss */
.Styled {
  height: 19pxpx;
  line-height: 19pxpx;
  vertical-align: middle;
}

/* line 807, ../sass/partials/_front.scss */
select.Styled {
  position: relative;
  z-index: 10;
  cursor: pointer;
}
/* line 811, ../sass/partials/_front.scss */
select.Styled.hiddenStyle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 816, ../sass/partials/_front.scss */
span.Styled {
  padding: 3pxpx;
  background-color: white;
  background-image: url("images/site/seta_baixo.png?1353882204");
  background-position: 95% center;
  background-repeat: no-repeat;
  border: 1px solid #dbdbdb !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: block;
  height: inherit;
  padding: 2px 4px;
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  /* line 14, ../sass/partials/_at_media.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 15, ../sass/partials/_at_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 16, ../sass/partials/_at_media.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 17, ../sass/partials/_at_media.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 18, ../sass/partials/_at_media.scss */
  .ir a:after {
    content: "";
  }

  /* line 21, ../sass/partials/_at_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 22, ../sass/partials/_at_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 23, ../sass/partials/_at_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 24, ../sass/partials/_at_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 26, ../sass/partials/_at_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 27, ../sass/partials/_at_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
